body {
    margin-left: 2%;
    margin-right: 2%; 
    background-color: #FFF5E1; /* Fondo principal */
    font-family: 'Arial', sans-serif;
}

.section {
    padding: 20px;
    margin: 20px 0;
    background-color: #FFFFFF; /* Fondo blanco para las secciones */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-alternate {
    background-color: #E3F8EC; /* Fondo menta suave para secciones alternas */
}

.section-light {
    background-color: #F0E7FB; /* Fondo lavanda ligera para secciones ligeras */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    background: #FFF5E1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-header {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    margin: 10px 0;
    font-family: 'Georgia', serif;
    color: #4A4A4A; /* Color oscuro para los títulos */
}

button {
    font-family: 'Arial', sans-serif;
}

.botonBase {
    background-color: #FFA07A; /* Coral suave */
    border: none;
    color: #FFFFFF;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    font-size: 1em; 
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.botonBase:hover {
    background-color: #FF7F50; /* Color más intenso al pasar el ratón */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.botonBase:active {
    transform: scale(0.98);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel {
    position: relative;
    width: 60%;
    max-width: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}
